<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smart Sync Bot</title>
    <link rel="shortcut icon" href="/static/images/iqvialogo.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.iqvia.com/">IQVIA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/workbench">Workbench</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/">LogOut</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/contacts">Help</a>
          </li>
      </ul>

    </div>
  </div>
  {% load static %}
</nav>
  <form action="/contacts" method="post">
    {% csrf_token %}
    <div class="container">
        <h2 class="'test-center">contact me</h2>

        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name"name="name" placeholder="Your Name">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>

        <div class="mb-3">
          <label for="Phone" class="form-label">Phone Number</label>
          <input type="phone" class="form-control" id="phone" name="phone" placeholder="Your Number">
        </div>

          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Explain Your concern</label>
            <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
          </div>

          <button type="submit" class="btn btn-success">submit</button>
       </form>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>